создать основные секции (например: header, main, footer);
создать внутри каждой секции обёрточный контейнер;
поместить внутрь каждого обёрточного контейнера, разметку которых необходимо произвести с помощью адаптивных блоков, элемент «ряд»;
создать внутри каждого ряда необходимую структуру с помощью адаптивных блоков;
поместить внутрь необходимых адаптивных блоков, разметку которых необходимо произвести с помощью адаптивных блоков, элемент «ряд»;
выполнить пункт 5;
выполнять пункты 6 и 7 до тех пор, пока не будет достигнута необходимая структура создаваемого макета.
rrar@mail.ru
100