<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/userCreate}" th:object="${user}" method="post">
    <label for="username">name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="name">
    <label for="firstname">first name</label>
    <input type="text" th:field="*{first_name}" id="firstname" placeholder="first Name">
    <input type="submit" value="Create User">
</form>
</br>
<form th:action="@{/admin/users}" method="get">
    <input type="submit" value="Назад">
</form>
</br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="POST LOGOUT">
</form>

</body>
</html>