<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name">
    <br/>
    <label for="firstname">first name</label>
    <input type="text" th:field="*{first_name}" id="firstname" placeholder="first Name">
    <br/>
    <input type="submit" value="Update User">
</form>
</br>
<form th:action="@{/admin/users}" method="get">
    <input type="submit" value="Назад">
</form>
</br></br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="POST LOGOUT">
</form>
</body>
</html>