<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<div th:switch="${user}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>first_name</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getFirst_name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</br></br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="POST LOGOUT">
</form>
</body>
</html>